@charset "UTF-8";
/*sass --watch sass/styles.sass:css/styles.css*/
* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  transition: 0.4s;
  text-decoration: none;
}

ul {
  list-style: none;
}

/*Logo*/
.header-logo {
  margin-left: 19.5%;
  font-size: 1.5rem;
  color: #000;
  padding: 2rem 0;
}
.header-logo span {
  font-weight: 200;
}

/*Banner Topo*/
.banner {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  overflow: hidden;
}
.banner-social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 240px;
}
.banner-social-text {
  transform: rotate(-90deg);
  font-size: 13px;
  color: #1E2439;
}
.banner-social-line {
  border-left: 2px solid #1E2439;
  margin-top: 50px;
  height: 200px;
  width: 50%;
}
.banner-e {
  margin-left: 14%;
  margin-top: 15vh;
  align-items: center;
}
.banner-e-subtitulo {
  font-size: 18px;
}
.banner-e-principal {
  margin-top: 10px;
  margin-bottom: 15%;
  font-size: 4.3vw;
  font-weight: bold;
  line-height: 5vw;
  color: #21283F;
}
.banner-e span {
  color: #385CDA;
}
.banner-e a {
  color: #385CDA;
  font-weight: bold;
  font-size: 1.1rem;
}
.banner-e i {
  margin-left: 1%;
}
.banner-d {
  width: 28vw;
}
.banner-d-img {
  width: 38vw;
  position: relative;
  top: -50px;
  right: 50px;
  z-index: -1;
}

/*Serviços*/
.servicos {
  background-color: #0E1220;
  padding: 20vh 0;
}
.servicos-c {
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
.servicos-c-subtitulo {
  color: #385CDA;
  font-size: 1.3rem;
}
.servicos-c-titulo {
  font-size: 3.13rem;
  color: #F5F5F5;
}
.servicos-c-cards {
  display: flex;
  justify-content: space-between;
}
.servicos-c-cards-web, .servicos-c-cards-design, .servicos-c-cards-ui {
  margin-top: 50px;
  width: 30%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.285) 100%), linear-gradient(180deg, rgba(48, 144, 234, 0.88) 0%, rgba(46, 88, 235, 0.88) 100%), linear-gradient(180deg, rgba(47, 81, 202, 0.89) 0%, rgba(45, 154, 255, 0.89) 100%);
  padding: 60px 40px;
  border-radius: 21px;
  box-shadow: 0px 20px 29px -4px rgba(0, 0, 0, 0.25);
}
.servicos-c-cards-web img, .servicos-c-cards-design img, .servicos-c-cards-ui img {
  width: 46px;
}
.servicos-c-cards-web h2, .servicos-c-cards-design h2, .servicos-c-cards-ui h2 {
  color: #D9F1FF;
  margin-top: 10%;
  font-size: 2rem;
}
.servicos-c-cards-web ul, .servicos-c-cards-design ul, .servicos-c-cards-ui ul {
  color: #91B7FA;
  line-height: 24px;
  margin-top: 3%;
  margin-bottom: 20%;
}
.servicos-c-cards-web ul li, .servicos-c-cards-design ul li, .servicos-c-cards-ui ul li {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
}
.servicos-c-cards-web .btn, .servicos-c-cards-design .btn, .servicos-c-cards-ui .btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.servicos-c-cards-web .btn a, .servicos-c-cards-design .btn a, .servicos-c-cards-ui .btn a {
  color: #fff;
}
.servicos-c-cards-web .btn a:hover, .servicos-c-cards-design .btn a:hover, .servicos-c-cards-ui .btn a:hover {
  color: #73d7ce;
}

/*Passos*/
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
  transition: 1s;
}

.active[data-tab-target] {
  transition: 1s;
  background-color: #385CDA;
}

.processo {
  background-color: #181D30;
}
.processo-c {
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  padding: 20vh 0;
}
.processo-c-subtitulo {
  color: #385CDA;
  font-size: 1.3rem;
}
.processo-c-titulo {
  font-size: 3.13rem;
  color: #F5F5F5;
}
.processo-c-steps {
  min-height: 430px;
  margin-top: 5%;
  background-color: #232C4B;
  padding: 10px;
  border-radius: 27px;
  box-shadow: 0px 20px 29px -4px rgba(0, 0, 0, 0.25);
}
.processo-c-steps ul {
  display: flex;
}
.processo-c-steps ul li {
  cursor: pointer;
  margin: 0 10px;
  padding: 17px;
  width: 33%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  justify-content: space-between;
  border-radius: 100px;
  background-color: #343F67;
}
.processo-c-steps-content {
  margin: 55px 100px;
}
.processo-c-steps-content h2 {
  font-size: 2.5rem;
  color: #F5F5F5;
}
.processo-c-steps-content p {
  margin-top: 15px;
  font-size: 20px;
  line-height: 35px;
  color: #B2B7E1;
  width: 80%;
}

/*Minha Base*/
.base {
  background-color: #385CDA;
}
.base-c {
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  padding: 15vh 0;
}
.base-c-subtitulo {
  color: #385CDA;
  font-size: 1.3rem;
  color: #fff;
}
.base-c-titulo {
  width: 80%;
  font-size: 3.13rem;
  color: #F5F5F5;
}
.base-c-frase {
  margin: 140px 0 60px 0;
  font-size: 2.8rem;
  color: #fff;
}
.base-c-frase span {
  color: #16265F;
}
.base-c a {
  color: #F5F5F5;
  font-weight: bold;
  font-size: 1.1rem;
}
.base-c a:hover {
  color: #00f3ff;
}
.base-c i {
  margin-left: 1%;
}

/*Projetos*/
.projetos {
  background-color: #21283F;
}
.projetos-c {
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  padding: 15vh 0;
}
.projetos-c-subtitulo {
  color: #385CDA;
  font-size: 1.3rem;
  color: #F5F5F5;
}
.projetos-c-titulo {
  font-size: 3.13rem;
  color: #F5F5F5;
}
.projetos-c-cards-1 {
  transition: 1s;
  margin: 50px 0;
  padding: 411px 60px 50px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  border-radius: 21px;
  box-shadow: 0px 20px 29px -4px rgba(0, 0, 0, 0.25);
}
.projetos-c-cards-1-titulo h2 {
  font-size: 3.13rem;
  color: #F5F5F5;
  font-size: 3rem;
}
.projetos-c-cards-1-titulo h3 {
  font-size: 1.15rem;
  color: #6F787E;
}
.projetos-c-cards-1-btn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 25%;
}
.projetos-c-cards-1-btn a {
  color: #F5F5F5;
  font-weight: bold;
  font-size: 1.1rem;
}
.projetos-c-cards-1-btn a:hover {
  color: #00f3ff;
}
.projetos-c-cards-1-btn i {
  margin-left: 1%;
}
.projetos-c-cards-1:hover {
  background-size: 105%;
  filter: brightness(80%);
  box-shadow: 0px 20px 29px 10px rgba(0, 0, 0, 0.4);
}
.projetos-c-clientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.projetos-c-clientes-logo {
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 90px 10px;
  border: solid white 1px;
}
.projetos-c-clientes-logo img {
  width: 50%;
}

/*# sourceMappingURL=styles.css.map */
